.container-mv{
    position: relative;
    display: flex;
    margin: 10px;
    width: 100vw;
    background-color: aquamarine;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    display: flex;
    width: 400px;
    border: 3px solid red;
    flex-wrap: wrap;
    margin: 10px;
    /* justify-content: space-around; */
}

.row{
    display: flex;
    /* position: relative; */
    /* justify-content: space-around; */
    width: 400px;
    height: 220px;
    /* flex-wrap: wrap; */
    /* border: 3px solid blue; */
    /* padding: 20px; */
}

.card-poster img{
    padding-top: 20px;
    height: 150px;
    width: 100px;
}
.card-vote{

}

.card-des{
margin-top: 20px;
overflow:hidden;
}
.btn-trailer{
    width: 100%;
    height:40px;
    margin: 0 20px;
}
@media(max-width: 875px){
    .row{
    flex: 50%; 
    }
}